/* Styling for the logo image */
.logo img{
    width: 100%;
    height: auto;
}

/* Styling for the heading in the slides section */
.slides h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
}

/* Styling for hiding slides by default */
.mySlides {display:none;}

/* Styling for images in the slide section */
.slide img{
    width: 100%;
    /*max-width: 500px;*/
    height: auto;
    /*max-height: 300px;*/
    box-sizing:border-box;
    border-radius: 30px;
    padding: 20px;
}

/* Styling for product content section */
.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

/* Styling for individual product boxes */
.box{
    position: relative;
}

/* Styling for product images within boxes */
.box-img img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    transition: all .45s ease;
}

/* Styling for product titles within boxes */
.box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.1;
}

/* Styling for additional details (e.g., design year) within boxes */
.box h4{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 500;
    margin-bottom: 2rem;
} 

/* Styling for the container of product prices and other details */
.inbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/* Styling for the product price display */
.price{
    display: inline-block;
    padding: 4px 16px;
    background: transparent;
    border: 2px solid #ef4444;
    color: #ef4444;
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .45s ease;
}

/* Styling for the product price on hover */
.price:hover{
    letter-spacing: 1px;
}

/* Styling for the contact list section */
.contactlist{
    font-size: 20px;
    text-decoration-color: black;
}

.moreItems{
    text-decoration-style: none;
}

/* Styling business link */

.businesspage:hover{
    color: blue;
}

#whatsapp{
    color:#25D366 ;
}

#email{
    color:#0077cc ;
}

#phone{
    color:#008000 ;
}

#facebook{
    color: #316FF6;
}


